extends layout

block content
	h1= title
	div(class="row")
		div(class="col-md-3")
			h1 I'm a student
			p and I'd like to schedule a lab with my teacher
			a(href="/teacherlookup", class="btn btn-lg btn-primary") Schedule a lab
			
		div(class="col-md-3")
			h1 I'm a student
			p and I'd like to see what labs I've scheduled
			a(href="/labs", class="btn btn-lg btn-primary") Check my labs

		div(class="col-md-3")
			h1 I'm a teacher
			p and I'd like to accept labs online
			a(href="/teacher", class="btn btn-lg btn-primary") Get started

		div(class="col-md-3")
			h1 I'm a teacher
			p and I'd like to see what labs students have scheduled
			a(href="/labs", class="btn btn-lg btn-primary") Check my labs