extends layout

block content
	div(class="jumbotron")
		div(class="container")
			h1 Welcome to Labby!
			p Labby is an online website that allows you to easily schedule and manage labs with your teachers.
			p It connects to programs you love, like the Online Planbook or Courses+.
			p 
				a(class="btn btn-primary btn-lg", href="/about", role="button") Learn more &raquo;
	div(class="row")
		div(class="col-md-3")
			h1 I'm a student
			p and I'd like to schedule a lab with my teacher
			a(href="/teacherlookup", class="btn btn-lg btn-primary") Schedule a lab &raquo;

		div(class="col-md-3")
			h1 I'm a student
			p and I'd like to see what labs I've scheduled
			a(href="/labs", class="btn btn-lg btn-primary") Check my labs &raquo;

		div(class="col-md-3")
			h1 I'm a teacher
			p and I'd like to accept labs online
			a(href="/teacher", class="btn btn-lg btn-primary") Get started &raquo;

		div(class="col-md-3")
			h1 I'm a teacher
			p and I'd like to see what labs students have scheduled
			a(href="/labs", class="btn btn-lg btn-primary") Check my labs &raquo;