doctype html
html(lang="en")
	head
		title #{title} | Labby
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		script(src="/js/jquery.js")
		script(src="/js/bootstrap.min.js")

		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(http-equiv="viewport", content="width=device-width, initial-scale=1")
		meta(http-equiv="description", content="Labby is an online website for the Dalton School that lets you manage and schedule your labs.")
		meta(http-equiv="author", content="")

		link(rel="stylesheet", href="css/layout.css")
		block styles

		script(src="js/layout.js", type="text/javascript")
		block scripts

	body
		nav(class="navbar navbar-inverse navbar-fixed-top")
			div(class="container")
				div(class="navbar-header")
					button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navcollapse")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand", href="/") Labby

				div(class="collapse navbar-collapse", id="navcollapse")
					ul(class="nav navbar-nav")
						li
							a(href="#") Link
						li
							a(href="#") Link
					ul(class="nav navbar-nav navbar-right")
						form(class="navbar-form navbar-right", action="/login", method="POST")
							div(class="form-group")
								input(type="text", placeholder="Dalton ID", class="form-control")
							div(class="form-group")
								input(type="password", placeholder="Password", class="form-control")
							input(type="submit", class="btn btn-success", data-toggle="tooltip", data-placement="bottom", title="We don't store your password. We just use it to make sure you're you.", value="Log in")
						//	li(class="dropdown")
							a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-expanded="false")
								span Not logged in
								span(class="caret")
							ul(class="dropdown-menu", role="menu")
								li
									a(href="/labs") My labs
								li
									a(href="/schedule") My schedule
								li
									a(href="/settings") Settings
								li(class="divider")
								li
									a(href="/login") Log in
		div(class="container-fluid")
			block content
			footer
				hr