/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}
.navbar-inverse {
	border-color: #000000;
}
.navbar-form .form-control  {
	opacity: .5;
	background-color: #303062;
	color: #FFF;
	margin-right: 5px;
}