/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}
.navbar-inverse {
	border-color: #000000;
}

.navbar-form .form-control {
	margin-right: 5px;
}
